html,body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.headerContent {
    border-radius: 20px 20px 0 0;
    padding: 10px 10px 15px;
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #eee;
    font-weight: 800;
    box-shadow:  0 0 3px rgba(0, 0, 0, 0.8)
}


.header {
    padding: 10px;
}

.fa-plus {
    margin: 7px;
    float: right;
}

ol {
    padding: 0;
    list-style: none;
    display: inline;
}

li:nth-child(odd){background: #ccc}



li {
    width: 99%;
    background-color: #eee;
    color: #333;
    margin: 2px 0 ;

}

li:hover span {
    text-align: center;
    width: 40px;
    padding:8px 15px;
    display: inline-block;
    transition: 0.2s linear;
   opacity: 1.3;
    color: #fff;
}

.slider  {
    opacity: 0.6;
    width: 0;
    background-color: firebrick;
    color:none;
    float: left;
    margin: -8px 10px -4px -8px; 
     opacity: 0;
 
}

.completed {
    color: gray;
    background-color: #666;
    text-decoration: line-through;

}