<section>
    <div class="container-fluid text-center bg-inverse text-white p-3">
        <h4><span>&copy; Sam De Gracia </span><span> 2017 </span> <span>all rights reserve</span></h4>       
    </div>
</section>


<script src="/jquery-3.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>