<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css" type="text/css">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        
        body {
    background: #222;
    color: #eee;
    
}

img{
 width: 300px;
 height: 300px;
}


li {
    float: left;
    list-style: none;
}
        
        </style>
   
   
   
   
    </head>

    <body>

        <nav class="navbar navbar-toggleable-md navbar-light bg-success">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand ml-4" href="#">Yelp Camp</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="campgrounds">Campgrounds <span class="sr-only">(current)</span></a>
      </li>
      
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
        <h1> Welcome To CampGround Page! </h1>
        <div class="container">


            <div class="row">

                <!--                <% campgrounds.forEach(function(x){ %>-->
                <div class="col-lg-4">    
                    <h3> <!--<%= x.name %>-->  Sam cook</h3>
                    <img class="responsive" src='https://farm5.staticflickr.com/4153/4835814837_feef6f969b.jpg'>
                </div>
                <!--                        <% }) %>-->



                <div class="col-lg-4">    
                    <h3> <!--<%= x.name %>-->  Sam cook</h3>
                    <img class="responsive" src='https://farm5.staticflickr.com/4153/4835814837_feef6f969b.jpg'>
                </div>
                <!--                        <% }) %>-->

                <div class="col-lg-4">    
                    <h3> <!--<%= x.name %>-->  Sam cook</h3>
                    <img class="responsive" src='https://farm5.staticflickr.com/4153/4835814837_feef6f969b.jpg'>
                </div>
                <!--                        <% }) %>-->

                <div class="col-lg-4">    
                    <h3> <!--<%= x.name %>-->  Sam cook</h3>
                    <img class="responsive" src='https://farm5.staticflickr.com/4153/4835814837_feef6f969b.jpg'>
                </div>
                <!--                        <% }) %>-->

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <li>&copy;Sam De Gracia</li>
                    <li>|</li>
                    <li>2017</li>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script> 

        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    </body>
</html>