<% include ../partials/header %>
<section>

    <div class="container-fluid m-5 p-5 text-center">
    <div class="jumbotron-fluid">
        <h2 class="display-3">Negative Balance Blog</h2>
        <small class="lead">Publish Your Blog To The Whole New Different Level <strong>Let's Go!</strong></small>
        <hr>
        <a href="/index/new" class="btn btn-primary">Create a Blog Now!</a>
    </div>
    </div>

</section>

<section>
    <div class="container">
        <div class="d-inline-block">
             <% data.forEach(function(data){ %>
                <div> <%= data.title %></div> 
                <img src="<%= data.image %>" alt="">
                <p><%= data.body.substring(0,100) %>... </p>            
            <%  })  %>
        </div>
    </div>
</section>


<% include ../partials/footer %>