body {
    text-align: center;
    margin: -20px  auto 0 auto;
    font-family: sans-serif, serif;
}
h2 {
    color: #eee;
    margin: 0 0;
    font-weight: normal;
}

h1 {
    font-weight: normal;
    color: #eee;
    margin: 0 0;
    font-family:sans-serif;
    text-transform: uppercase;
}
#mainHeader {
    background-color: steelblue;
    padding: 20px 0 5px 0;
    transition: 0.8s;
}

#optionList {
    margin: 0 auto;
    /*    height: 30px;*/

}
#optionList li {
    display: inline-block;
    list-style: none;
    margin: 0 20px 0 5px;

}
#optionList li:hover {
    background-color: dodgerblue;
    color: aliceblue;
}


#colorBlocks {
    background-color: #333;
}

#colorBlocks ul {

    margin: 0 auto;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 400px;
    height: 250px;
}

.square {
    list-style: none;
    width: 100px;
    height: 100px;
    background-color: #abc;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #222;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    -o-transition: background 0.6s;
}

#newColors,
#hard,
#easy {
    text-transform: uppercase;
    font-weight: 700;
    color: steelblue;
    font-size: inherit;
    transition: all 0.5s;
}

.success {
    background-color:#9a0;
    border-radius: 40px;
}

.bgBtn {
    background-color: steelblue;
    color: #eee !important;
}


.bgWrong {
    background-color: firebrick;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
}

.bgCorrect {
    background-color: limegreen;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
}